@font-face {
  font-family: "RobotoMono";
  src: url("RobotoMono-Bold.ttf");
}

body{
  padding: 1rem;
  font-family: RobotoMono;
  min-width: 500px;
  min-height: 500px;
}


#header{
  text-align: center;outline : 1px solid black;
}
footer {
  background: black;
  text-align: center;
  color: white;
  outline : 1px solid white;
}
#primary {
  float: left;
  width: 25%;
  height: 80%;
  outline : 1px solid black;
  text-align: center;overflow:hidden;
  position: relative;
}

#content {
  width: 50%; height:80%;
  text-align: center;
  outline : 1px solid black;
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-bottom: -1px;
  display: inline-block;
  margin: 0 auto;
  background-color:pink;min-block-size: 150px;
  overflow-y:scroll;
}

#secondary {
  float: right;
  width: 25%;  height: 80%;
  text-align: center;
  margin: 0 auto;
  outline : 1px solid black;
  overflow:hidden;
  transition: width 2s;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1); 
}

html {
  font-size: 100%;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5;  
}

p {
  margin: .5rem 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

/* First the Grid */
.pixel-grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /*//grid-template-columns: 1fr 1fr 1fr;grid-auto-flow: row;*/
  grid-gap: 1.5rem;
  justify-items: center;
  margin: 0;
  padding: 0;overflow:hidden;
}

/* The Picture Frame */
.pixel-frame {
  padding: .5rem;
  font-size: 1.2rem;
  text-align: center;
  background-color: white;
  color: black;overflow:hidden;
}

/* The Images */
.pixel-image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  transition: opacity 0.25s ease-in-out;overflow:hidden;

}

.pixel-image:hover {
  opacity: .7;
}
.box{
  text-align: center;
  outline : 1px solid black;
  background-color: pink;  
  margin-top: 10%;
  margin-right: 10%;
  margin-left: 10%;
  height: 50%;
  position:relative
}
#box3{
  text-align: center;
  outline : 1px solid black;
  background-color: pink;  
  margin-top: 10%;
  margin-right: 10%;
  margin-left: 10%;
  height: auto;
  transition: width 2s;
}
.box2{
  text-align: center;
  outline : 1px solid black;
  background-color: pink;  
  margin-top: 10px;
  margin-bottom: 10%;
  margin-right: 10%;
  margin-left: 10%;
  height: 25%;
  bottom: 0;
  position: absolute;
  overflow: auto; 
  width: 80%;
  overflow:hidden;
}
.buy{
  float:right;
  background-color: white;
  bottom: 0;
  width: 30%;
  position: absolute;
  /*text-align:*/
}
.completesum{
  margin-left:30%;
  margin-right:30%;
  float:left;
  display: flex;
  /*//display:inline-block;*/
  background-color: white;
  /*//text-align: right; */
  text-align: center; 
  vertical-align: middle;
  justify-content: center;
  align-items: right;
  bottom: 0;
  width: 70%;
  position: absolute;
}
.hidden{
  visibility:hidden;
}
.paymethod{
  outline : 1px solid black;
}
